<!-- templates/index.html -->

{% extends "_base.html" %} {% block content %}

<!-- Hero Section -->

<section class="pt-28">
  <div class="mx-auto max-w-screen-xl py-8 px-4 text-center lg:py-16 lg:px-12">
    <a
      href="#"
      class="mb-7 inline-flex items-center justify-between rounded-full bg-white py-1 px-1 pr-4 text-sm text-gray-700 transition duration-300 ease-in-out hover:bg-primary-100 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700"
      role="alert">
      <span
        class="mr-3 rounded-full bg-primary-500 px-4 py-1.5 text-xs text-white"
        >New</span
      >
      <span class="text-sm font-medium">Join our Slack channel for help</span>
      <svg
        class="ml-2 h-5 w-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
    <h1
      class="mb-4 text-4xl font-extrabold leading-none tracking-tight dark:text-white md:text-5xl lg:text-6xl">
      Trend Following Automation for Professionals. With No Code.
    </h1>
    <p
      class="mb-12 text-lg font-normal text-gray-500 dark:text-gray-400 sm:px-16 lg:text-2xl xl:px-48">
      Assemble trading bots with just a few clicks. Test their performance on
      high-quality historical data. Then deoploy your bots and ride the trends!
    </p>
    <div
      class="mb-8 flex flex-col items-start space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4 lg:mb-16">
      <div class="inline-flex flex-col items-center justify-center space-y-3">
        <a
          href="#"
          class="inline-flex items-center justify-center rounded-lg bg-primary-500 py-4 px-7 text-center text-xl font-medium text-white transition duration-300 ease-in-out hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
          Try our free strategy builder
          <svg
            class="ml-2 -mr-1 h-5 w-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        <p
          class="inline-flex items-center justify-center text-center text-sm font-normal text-gray-500 dark:text-gray-400 lg:text-base">
          No account required!
        </p>
      </div>
      <a
        href="#"
        class="inline-flex items-center justify-center rounded-lg px-7 py-4 text-center text-xl font-medium text-gray-800 shadow-border-2 shadow-gray-300 transition duration-300 ease-in-out hover:bg-gray-100 hover:shadow-border-3 hover:shadow-gray-300 focus:ring-4 focus:ring-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-800">
        Sign up now
      </a>
    </div>

    <div
      class="mx-auto mb-8 flex max-w-5xl flex-wrap items-center justify-center gap-x-12 gap-y-8">
      <div class="flex items-center gap-3">
        <svg
          class="text-green-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0
                24 24">
          <title>c-check</title>
          <g fill="currentColor">
            <path
              d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
              fill="currentColor"></path>
          </g>
        </svg>
        <p class="text-xl text-green-700">No coding required</p>
      </div>
      <div class="flex items-center gap-3">
        <svg
          class="text-green-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0
                24 24">
          <title>c-check</title>
          <g fill="currentColor">
            <path
              d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
              fill="currentColor"></path>
          </g>
        </svg>
        <p class="text-xl text-green-700">Build your own strategies</p>
      </div>
      <div class="flex items-center gap-3">
        <svg
          class="text-green-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0
                24 24">
          <title>c-check</title>
          <g fill="currentColor">
            <path
              d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
              fill="currentColor"></path>
          </g>
        </svg>
        <p class="text-xl text-green-700">Data for all NYSE stocks</p>
      </div>
      <div class="flex items-center gap-3">
        <svg
          class="text-green-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0
                24 24">
          <title>c-check</title>
          <g fill="currentColor">
            <path
              d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
              fill="currentColor"></path>
          </g>
        </svg>
        <p class="text-xl text-green-700">Powerful back-testing engine</p>
      </div>
      <div class="flex items-center gap-3">
        <svg
          class="text-green-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0
                24 24">
          <title>c-check</title>
          <g fill="currentColor">
            <path
              d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
              fill="currentColor"></path>
          </g>
        </svg>
        <p class="text-xl text-green-700">
          Comprehensive suite of technical indicators
        </p>
      </div>
      <div class="flex items-center gap-3">
        <svg
          class="text-green-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0
                24 24">
          <title>c-check</title>
          <g fill="currentColor">
            <path
              d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
              fill="currentColor"></path>
          </g>
        </svg>
        <p class="text-xl text-green-700">Easy 2 minute setup</p>
      </div>
    </div>
  </div>
</section>

<!-- Feature Section -->

<section>
  <div
    class="mx-auto max-w-screen-xl items-center gap-8 py-12 px-4 sm:py-24 md:grid md:grid-cols-2 lg:px-6 xl:gap-16">
    <div class="mt-4 md:mt-0">
      <p
        class="mb-4 text-lg font-medium uppercase tracking-wider text-primary-300">
        Bot Building Made Easy
      </p>
      <h2 class="mb-4 text-5xl font-bold leading-tight dark:text-white">
        Design your Trading System in just a few clicks
      </h2>
      <p
        class="mb-8 font-light tracking-wide text-gray-500 dark:text-gray-400 md:text-xl">
        Raposa makes it easy to build and test an automated trading strategy
        with our intuitive, no-code interface. Design and backtest across
        thousands of instruments with just a few clicks!
      </p>
      <div class="mb-8 flex flex-col gap-4">
        <div class="flex items-center gap-3">
          <svg
            class="text-primary-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0
              24 24">
            <title>c-check</title>
            <g fill="currentColor">
              <path
                d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
                fill="currentColor"></path>
            </g>
          </svg>
          <p class="text-lg text-gray-500">Easy 2 minute setup</p>
        </div>
        <div class="flex items-center gap-3">
          <svg
            class="text-primary-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0
              24 24">
            <title>c-check</title>
            <g fill="currentColor">
              <path
                d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
                fill="currentColor"></path>
            </g>
          </svg>
          <p class="text-lg text-gray-500">
            Automate multiple strategies to diversify
          </p>
        </div>
        <div class="flex items-center gap-3">
          <svg
            class="text-primary-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0
              24 24">
            <title>c-check</title>
            <g fill="currentColor">
              <path
                d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
                fill="currentColor"></path>
            </g>
          </svg>
          <p class="text-lg text-gray-500">
            Risk management options to limit your downside
          </p>
        </div>
      </div>
      <a
        href="#"
        class="mr-3 inline-flex items-center justify-center rounded-lg bg-primary-500 px-5 py-3 text-center text-base font-medium text-white transition duration-300 ease-in-out hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
        Build your free trading bot
        <svg
          class="ml-2 -mr-1 h-5 w-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
    </div>
    <img
      class="w-full dark:hidden"
      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup.svg"
      alt="dashboard image" />
    <img
      class="hidden w-full dark:block"
      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg"
      alt="dashboard image" />
  </div>
</section>

<!-- Feature Section -->

<section>
  <div
    class="mx-auto max-w-screen-xl items-center gap-8 py-12 px-4 sm:py-24 md:grid md:grid-cols-2 lg:px-6 xl:gap-16">
    <img
      class="w-full dark:hidden"
      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup.svg"
      alt="dashboard image" />
    <img
      class="hidden w-full dark:block"
      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg"
      alt="dashboard image" />
    <div class="mt-4 md:mt-0">
      <p
        class="mb-4 text-lg font-medium uppercase tracking-wider text-primary-300">
        Bot Building Made Easy
      </p>
      <h2 class="mb-4 text-5xl font-bold leading-tight dark:text-white">
        Design your Trading System in just a few clicks
      </h2>
      <p
        class="mb-8 font-light tracking-wide text-gray-500 dark:text-gray-400 md:text-xl">
        Raposa makes it easy to build and test an automated trading strategy
        with our intuitive, no-code interface. Design and backtest across
        thousands of instruments with just a few clicks!
      </p>
      <div class="mb-8 flex flex-col gap-4">
        <div class="flex items-center gap-3">
          <svg
            class="text-primary-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0
          24 24">
            <title>c-check</title>
            <g fill="currentColor">
              <path
                d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
                fill="currentColor"></path>
            </g>
          </svg>
          <p class="text-lg text-gray-500">Easy 2 minute setup</p>
        </div>
        <div class="flex items-center gap-3">
          <svg
            class="text-primary-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0
          24 24">
            <title>c-check</title>
            <g fill="currentColor">
              <path
                d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
                fill="currentColor"></path>
            </g>
          </svg>
          <p class="text-lg text-gray-500">
            Automate multiple strategies to diversify
          </p>
        </div>
        <div class="flex items-center gap-3">
          <svg
            class="text-primary-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0
          24 24">
            <title>c-check</title>
            <g fill="currentColor">
              <path
                d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
                fill="currentColor"></path>
            </g>
          </svg>
          <p class="text-lg text-gray-500">
            Risk management options to limit your downside
          </p>
        </div>
      </div>
      <a
        href="#"
        class="mr-3 inline-flex items-center justify-center rounded-lg bg-primary-500 px-5 py-3 text-center text-base font-medium text-white transition duration-300 ease-in-out hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
        Build your free trading bot
        <svg
          class="ml-2 -mr-1 h-5 w-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
    </div>
  </div>
</section>

<!-- Feature Section -->

<section>
  <div
    class="mx-auto max-w-screen-xl items-center gap-8 py-12 px-4 sm:py-24 md:grid md:grid-cols-2 lg:px-6 xl:gap-16">
    <div class="mt-4 md:mt-0">
      <p
        class="mb-4 text-lg font-medium uppercase tracking-wider text-primary-300">
        Bot Building Made Easy
      </p>
      <h2 class="mb-4 text-5xl font-bold leading-tight dark:text-white">
        Design your Trading System in just a few clicks
      </h2>
      <p
        class="mb-8 font-light tracking-wide text-gray-500 dark:text-gray-400 md:text-xl">
        Raposa makes it easy to build and test an automated trading strategy
        with our intuitive, no-code interface. Design and backtest across
        thousands of instruments with just a few clicks!
      </p>
      <div class="mb-8 flex flex-col gap-4">
        <div class="flex items-center gap-3">
          <svg
            class="text-primary-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0
                24 24">
            <title>c-check</title>
            <g fill="currentColor">
              <path
                d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
                fill="currentColor"></path>
            </g>
          </svg>
          <p class="text-lg text-gray-500">Easy 2 minute setup</p>
        </div>
        <div class="flex items-center gap-3">
          <svg
            class="text-primary-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0
                24 24">
            <title>c-check</title>
            <g fill="currentColor">
              <path
                d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
                fill="currentColor"></path>
            </g>
          </svg>
          <p class="text-lg text-gray-500">
            Automate multiple strategies to diversify
          </p>
        </div>
        <div class="flex items-center gap-3">
          <svg
            class="text-primary-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0
                24 24">
            <title>c-check</title>
            <g fill="currentColor">
              <path
                d="M12,0A12,12,0,1,0,24,12,12.035,12.035,0,0,0,12,0ZM10,17.414,4.586,12,6,10.586l4,4,8-8L19.414,8Z"
                fill="currentColor"></path>
            </g>
          </svg>
          <p class="text-lg text-gray-500">
            Risk management options to limit your downside
          </p>
        </div>
      </div>
      <a
        href="#"
        class="mr-3 inline-flex items-center justify-center rounded-lg bg-primary-500 px-5 py-3 text-center text-base font-medium text-white transition duration-300 ease-in-out hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
        Build your free trading bot
        <svg
          class="ml-2 -mr-1 h-5 w-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
    </div>
    <img
      class="w-full dark:hidden"
      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup.svg"
      alt="dashboard image" />
    <img
      class="hidden w-full dark:block"
      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg"
      alt="dashboard image" />
  </div>
</section>

{% endblock content %}
